<div>
  <div>
    <h1>
      Court locations
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table class="table table-bordered" border="1">
      <tr>

        <th>
          Description
        </th>

        <th>
          Number of Courts
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_locations.each do |a_location| %>
      <tr>

        <td>
          <%= a_location.description %>
        </td>

        <td>
          <%= a_location.courts_count %>
        </td>


        <td>
          <a href="/locations/<%= a_location.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
