<div>
  <div>
    <h1>
      <%= @the_location.description %> Details
    </h1>

    <div>
      <div>
        <a href="/locations">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_location.description %>
      </dd>

      <dt>
        Courts count
      </dt>
      <dd>
        <%= @the_location.courts_count %>
      </dd>

    </dl>
  </div>
</div>
